
/* css resset */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* styling landing page */


body{
    border: solid black 1px;
    width: 100%;
    height: 100vh;
    margin: 20px;
    border-radius: 10px;
    
}
main{
    margin-left:auto;
    margin-right: auto;
    width: 96%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

label,input{
    width: 100%;
    height: 20px;
    margin-top: 10px;

}

textarea{
    width: 100%;
    height: 60px;
    margin-top: 10px;
}



/* header styling */

.header-container{
    height: 100px;
    width: 100%; 
    display: flex;
    align-items: center;
    
}


.toggle{
    display: inline-block;
    cursor: pointer;
    position: relative;  
    margin-left: calc(100% - 80px); 
}

.toggle input[type="checkbox"] {
    display: none;
    
    
}

.toggle img{
    width: 30px;
}

.toggle input[type="checkbox"]:checked + img:after {
    content: "";
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
}

/* Separation line */

.separation-lign{
    width: 96%;
    height: 1px;
    background-color: black;
    margin: auto;

}
.second{
    margin-top: 4px;
}

.vertical-separation-line{
height: 86vh;
    width: 2px;
    background-color: black;
    margin: auto;
    float: left;
}

.second1{
    margin-left: 4px;
}


/* first blog section */

.first-blog{
    float: left;
    height: calc(100vh - 110px);
    width: calc(96% / 2);
   
}


.first-blog-header{
    width: 400px;
    height: 400px;
    background:repeating-linear-gradient(yellow, yellow 10%, green);
   text-align: center;
   margin-top: 30%;
   margin-left:auto;
   margin-right: auto;
   border-radius: 50%;
   box-shadow: 1px 1px 2px 2px black;

   
}

.first-blog-header h1{
    color: white;
    padding-top: 190px;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 900;
    
}



/* gate section */

.gate{
   float: right;
    height: calc(100vh - 110px);
    width: calc(96% / 2);
}
.gate h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 30%;
    font-weight: bold;

}


#submit{
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;

}